rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Tasks can only be read, created, updated, or deleted by the user who owns them.
    match /tasks/{taskId} {
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
  }
}
